<app-loading [loading]="loading"></app-loading>

<div class="input-container">
  <div *ngFor="let input of inputs" class="input-field">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="input.value">
    </mat-form-field>
  </div>
</div>

<div class="breakpoint-value-container">
  <div *ngFor="let v of getCurrentValues()" class="value-field">
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="v" disabled>
    </mat-form-field>
  </div>
</div>

<button *ngIf="loading === false && inputs.length > 0" class="step-into-button" mat-raised-button (click)="stepInto()">
  Step into
</button>

<div class="debugging-container">
  <mat-card class="loading-dialog" *ngIf="showForm === true">
    <mat-card-header>
      <mat-card-title> Welcome to network debugging</mat-card-title>
      <mat-card-subtitle> Please choose a network and create or load an existing virtual network configuration
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="upload-content">
      <form [formGroup]="virtualNetworkFormGroup">

        <mat-form-field class="network-init-field">
          <mat-label> Network name</mat-label>
          <mat-select formControlName="networkName" placeholder="Select network name">
            <mat-option *ngFor="let name of networkNames" [value]="name"> {{name}} </mat-option>
          </mat-select>
          <mat-error *ngIf="virtualNetworkFormGroup.controls.networkName.hasError('required')">
            The network name is required
          </mat-error>
        </mat-form-field>

        <mat-form-field class="network-init-field">
          <mat-label> Enter the name for a new virtual configuration</mat-label>
          <input matInput type="text" formControlName="name">
          <button mat-button *ngIf="virtualNetworkFormGroup.value.name" matSuffix mat-icon-button aria-label="Clear"
                  (click)="virtualNetworkFormGroup.controls['name'].reset()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="virtualNetworkFormGroup.controls.name.hasError('minlength')">
            The name of the virtual network configuration must have at least 4 characters
          </mat-error>
        </mat-form-field>


        <mat-form-field class="network-init-field">
          <mat-label> {{virtualNetworks.length === 0 ? 'No virtual configurations created' : 'Choose existing virtual configurations' }}</mat-label>
          <mat-select formControlName="existingVirtualNetwork"
                      [disabled]="virtualNetworks.length === 0">
            <mat-option *ngFor="let vn of virtualNetworks" [value]="vn"> {{vn.name}} </mat-option>
          </mat-select>
        </mat-form-field>
        <div [className]="(virtualNetworkFormGroup.value.existingVirtualNetwork == null
        && virtualNetworkFormGroup.value.name === '') ? 'transparent-info' : 'hide-info'">
          This window will be hidden after loading. Press M to open it again.
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="upload-content">
      <button mat-button mat-raised-button class="action-button"
              [disabled]="virtualNetworkFormGroup.value.existingVirtualNetwork == null"
              (click)="loadExisting()">
        Load
      </button>
      <button mat-button mat-raised-button class="action-button"
              [disabled]="virtualNetworkFormGroup.value.name === ''"
              (click)="saveAndLoad()">
        Save and load
      </button>
    </mat-card-actions>
  </mat-card>

  <canvas #canvas class="canvas"></canvas>
  <ul class="menu" #contextmenu>
    <li class="menu-item" (click)="watchNode(selection)"
        *ngIf="selection?.status.isInput() === false && selection?.status.isIgnored() === true">
      <a class="menu-btn">
        <i class="fa fa-bell"></i>
        <span class="menu-text">Watch node</span>
      </a>
    </li>
    <li class="menu-item" (click)="ignoreNode(selection)"
        *ngIf="selection?.status.isInput() === false && selection?.status.isUnderWatch() === true">
      <button type="button" class="menu-btn">
        <i class="fa fa-bell-slash"></i>
        <span class="menu-text">Ignore node</span>
      </button>
    </li>
    <li class="menu-separator"></li>
    <li class="menu-item" (click)="addBreakpoint(selection)"
        *ngIf="selection?.status.isInput() === false && selection?.status.isBreakpoint() === false">
      <button type="button" class="menu-btn">
        <i class="fa fa-lock"></i>
        <span class="menu-text">Add breakpoint</span>
      </button>
    </li>
    <li class="menu-item" (click)="removeBreakpoint(selection)"
        *ngIf="selection?.status.isInput() === false && selection?.status.isBreakpoint() === true">
      <button type="button" class="menu-btn">
        <i class="fa fa-unlock"></i>
        <span class="menu-text">Remove breakpoint</span>
      </button>
    </li>


    <li class="menu-item">
      <button type="button" class="menu-btn">
        <i class="fa fa-star"></i>
        <span class="menu-text">Favorite</span>
      </button>
    </li>

    <li class="menu-item menu-item-submenu">
      <button type="button" class="menu-btn">
        <i class="fa fa-users"></i>
        <span class="menu-text">Social</span>
      </button>
      <ul class="menu">
        <li class="menu-item">
          <button type="button" class="menu-btn">
            <i class="fa fa-comment"></i>
            <span class="menu-text">Comment</span>
          </button>
        </li>
        <li class="menu-item menu-item-submenu">
          <button type="button" class="menu-btn">
            <i class="fa fa-share"></i>
            <span class="menu-text">Share</span>
          </button>
        </li>
      </ul>
    </li>
    <li class="menu-separator"></li>
    <li class="menu-item">
      <button type="button" class="menu-btn">
        <i class="fa fa-download"></i>
        <span class="menu-text">Save</span>
      </button>
    </li>
    <li class="menu-item">
      <button type="button" class="menu-btn">
        <i class="fa fa-edit"></i>
        <span class="menu-text">Rename</span>
      </button>
    </li>
    <li class="menu-item">
      <button type="button" class="menu-btn">
        <i class="fa fa-trash"></i>
        <span class="menu-text">Delete</span>
      </button>
    </li>
  </ul>
</div>
