/* Style sheet for commons colors */

$color-background: #F9F9F7;
$color-background-2: #c9af98;

$color-accent: #415e8c;
$color-warn: #ed8a63;

$color-container: #F9F9F7;
$color-title: #2c3b59;
$color-text: #2c3b59;

$color-container-2: #845007;
$color-title-2:#2c3b59;
$color-text-2: #c9af98;

$color-container-inverse: #2c3b59;
$color-title-inverse: #ed8a63;
$color-text-inverse: #F9F9F7;

