/* Style sheet for commons colors */

$color-yellow: #feda6a;
$color-silver-fox: #d4d4dc;
$color-deep-matte-grey: #393f4d;
$color-dark-slate: #1d1e22;

$color-slate: #262626;
$color-secondhand-grey: #3f3f3f;
$color-whitish: #f5f5f5;
$color-light-grey: #dcdcdc;

