
.input-container {
  width: 25%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.network-init-field {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.half-width-continue {
  display: inline-block;
  width: 46%;
  margin-bottom: 30px;
}

.half-width-end {
  display: inline-block;
  margin-left: 8%;
  width: 46%;
  margin-bottom: 30px;
}
