<mat-card class="upload-container">
  <mat-card-header>
    <mat-card-title> Upload a new file</mat-card-title>
    <mat-card-subtitle> The file can be then used for training or testing any compatible netwokr</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="upload-content">
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose file</button>
      <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
      {{(selectedFiles != null && selectedFiles.length > 0) ?
      'You have selected \'' + selectedFiles.item(0).name + '\' for upload' : ''}}
    <div class="labels-container">

      Number of labels
      <mat-slider class="example-margin" [max]="100" [min]="1" [(ngModel)]="labels"></mat-slider>
      {{labels}}
    </div>
  </mat-card-content>
  <mat-card-actions class="upload-content">
    <button type="button" mat-raised-button [disabled]="!selectedFiles || !labels" (click)="upload()">Upload</button>
  </mat-card-actions>
</mat-card>
