<img class="brain-logo" src="./assets/images/negative-brain.png" alt="image">
<canvas id="demo-canvas" class="canvas"></canvas>
<section class="text-center home-info">

  <!--Grid row-->
  <div class="row text-left">

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <div class="col-1 col-md-2 float-left">
        <i class="fas fa-bullhorn blue-text fa-2x"></i>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold white-text">Collaborate</h4>
        <p class="white-text">Develop deep neural networks on your own separate branch, merge them with others and keep
          only the best.</p>
        <a mdbBtn color="primary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <div class="col-1 col-md-2 float-left">
        <i class="fas fa-cogs pink-text fa-2x"></i>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold white-text">Customization</h4>
        <p class="white-text">Create and manage modular neural networks with a graphical overview of them.</p>
        <a mdbBtn color="pink" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-4">
      <div class="col-1 col-md-2 float-left">
        <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
      </div>
      <div class="col-10 col-md-9 col-lg-10 float-right">
        <h4 class="font-weight-bold white-text">Performance</h4>
        <p class="white-text">Multi threaded optimization is available for training and testing your networks.
          Functionalities that don't directly relate to deep learning are deployed on separate servers.</p>
        <a mdbBtn color="secondary" size="sm" class="ml-0 waves-light" mdbWavesEffect>Learn more</a>
      </div>
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
