


.tables-container {
  margin-left: 5%;
  margin-right: 5%;
}

.tables-header {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap !important;
}



.tables-header-item {
  margin-left: 5vw;
}



.network-table {

}

.layer-table {

}
