<div>
  <mat-card>Networks</mat-card>
  <mat-button-toggle-group [value]="selectedView" class="tables-header">
    <ng-container *ngFor="let selected of activeViews">


      <ng-container *ngIf="isNetworkTable(selected) === true">
        <mat-button-toggle [value]="selected" (click)="setCurrentSelection(selected)">
          NetworkDto configurations
        </mat-button-toggle>
      </ng-container>

      <ng-container *ngIf="isLayerTable(selected) === true">
        <mat-button-toggle (click)="setCurrentSelection(selected)" [value]="selected" >
          LayerDto-wise configuration for {{selected.network.name }}
          <fa-icon [icon]="faTimes" (click)="removeSelection(selected)"></fa-icon>
        </mat-button-toggle>
      </ng-container>

      <ng-container *ngIf="isLogTable(selected) === true">
        <mat-button-toggle (click)="setCurrentSelection(selected)" [value]="selected" >
          Train/test reports for {{selected.network.name }}
          <fa-icon [icon]="faTimes" (click)="removeSelection(selected)"></fa-icon>
        </mat-button-toggle>
      </ng-container>

    </ng-container>

  </mat-button-toggle-group>

  <div class="tables-container">

      <app-network-table *ngIf="isNetworkTable(selectedView) === true" [networks]="networks" (onLayersView)="addView($event)" ></app-network-table>
      <app-layer-table *ngIf="isLayerTable(selectedView) === true" [layers]="selectedView.network.layers"></app-layer-table>
      <app-logs-table *ngIf="isLogTable(selectedView) === true" [logs]="selectedView.additionalData"> </app-logs-table>

  </div>

</div>
