<div>
  <mat-card>Networks</mat-card>


    <mat-tab-group class="tables-header mat-elevation-z2" (selectedTabChange)="setSelection($event)" [selectedIndex]="selectedTab">
      <mat-tab label="Network configurations"></mat-tab>
      <mat-tab label="Network running status"></mat-tab>
      <mat-tab label="Layer-wise configurations"></mat-tab>
      <mat-tab label="Network running statistic"></mat-tab>
    </mat-tab-group>

    <div class="tables-container">
      <div class="network-table">
        <app-network-table *ngIf="networks && selection.networkConfig === true"
                           [networks]="networks"
                           (layerConfigOpenEvent)="setSelectedNetworkForLayerWise($event)"
        ></app-network-table>
      </div>
      <div class="layer-table">
        <app-layer-table *ngIf="selectedNetworkForLayerWise && selection.layerConfig === true" [layers]="selectedNetworkForLayerWise.layers"></app-layer-table>
      </div>
    </div>

</div>
