.mat-form-field {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.action {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

textarea {

}

.login-container {

}

.login-content {
  margin-bottom: 1%;
}
