<div class="login-container">
  <h2 mat-dialog-title> Sign in </h2>

  <mat-dialog-content class="login-content" [formGroup]="form">

    <mat-form-field>
      <input matInput placeholder="Username" type="text" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div matTooltip="Please complete all fields" [matTooltipDisabled]="form.valid" matTooltipPosition="right">
      <button mat-raised-button class="action" (click)="onSubmit()" [disabled]="!form.valid">
        Login
        <mat-icon> arrow_forward_ios</mat-icon>
      </button>
    </div>
  </mat-dialog-actions>
</div>
