
.tables-container {
  margin-left: 5%;
  margin-right: 5%;
}

.tables-header {
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap !important;
}


.tables-header-item {
  margin-left: 5vw;
}


/deep/.mat-menu-content:not(:empty) {
  padding-top:  0!important;
  padding-bottom: 0!important;
 }
