<div class="table-container">
  <div class="mat-elevation-z8">
    <mat-tab-group (selectedTabChange)="matTabSelectionChange($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon inline>clear</mat-icon>
          <span style="margin-left: 5px;">Reset filters</span>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div *ngIf="filters.id === ''"> Id</div>
          <div *ngIf="filters.id !== ''" class="label-edited"> Id (edited)</div>
        </ng-template>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="filters.id" matInput (keyup)="applyFilter($event.target.value,'id')"
                 placeholder="Filter by id" type="number">
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div *ngIf="filters.name === ''"> Name</div>
          <div *ngIf="filters.name !== ''" class="label-edited"> Name (edited)</div>
        </ng-template>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="filters.name" matInput (keyup)="applyFilter($event.target.value,'name')"
                 placeholder="Filter by name" type="text">
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div *ngIf="filters.type === ''"> Type</div>
          <div *ngIf="filters.type !== ''" class="label-edited"> Type (edited)</div>
        </ng-template>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="filters.type" matInput (keyup)="applyFilter($event.target.value,'type')"
                 placeholder="Filter by type" type="text">
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div *ngIf="filters.ownerName === ''"> Owner</div>
          <div *ngIf="filters.ownerName !== ''" class="label-edited"> Owner (edited)</div>
        </ng-template>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="filters.ownerName" matInput (keyup)="applyFilter($event.target.value,'ownerName')"
                 placeholder="Filter by owner username" type="text">
        </mat-form-field>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div *ngIf="filters.contributor === ''"> Contributor</div>
          <div *ngIf="filters.contributor !== ''" class="label-edited"> Contributor (edited)</div>
        </ng-template>
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="filters.contributor" matInput (keyup)="applyFilter($event.target.value,'contributor')"
                 placeholder="Filter by contributor username" type="text">
        </mat-form-field>
      </mat-tab>


    </mat-tab-group>


    <table mat-table *ngIf="branchDataSource" [dataSource]="branchDataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let branch"> {{ branch.id }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let branch">
          <mat-form-field>
          <input matInput
                 [disabled]="updating === true"
                 [(ngModel)]="branch.name">
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let branch">
          <mat-form-field>
            <mat-label> Type </mat-label>
            <mat-select [disabled]="updating === true"
                        [(ngModel)]="branch.type">
              <mat-option *ngFor="let type of types" [value]="type"> {{type}} </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="ownerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let branch"> {{ branch.owner.username }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="contributors">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Contributors</th>
        <td mat-cell *matCellDef="let branch">
          <mat-form-field matTooltip="These users will be able to perform operations on the networks within this branch.">
            <mat-label> Contributors</mat-label>
            <mat-select [disabled]="updating === true"
                        [(ngModel)]="branch.contributors" multiple
                        [compareWith]="compareUsers">
              <mat-option
                [matTooltip]="(user.username === loggedUsername) ? 'You can not remove yourself. Contact the owner.' : ''"
                [disabled]="user.username === loggedUsername" *ngFor="let user of getPossibleContributors(branch)" [value]="user">
                {{user.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
        <td mat-cell *matCellDef="let branch"> {{ branch.created | localdatetime }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated</th>
        <td mat-cell *matCellDef="let branch"> {{ branch.updated | localdatetime }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let branch">
          <button style="display: inline-block" mat-button mat-raised-button
                  (click)="updateBranch(branch)"
                  [disabled]="updating === true"
          > Update </button>
          <button style="display: inline-block" mat-button mat-raised-button
                  #menuTrigger="matMenuTrigger"
                  [matMenuTriggerFor]="menu"
                  (click)="menuTrigger.openMenu()"
                  [disabled]="updating === true">
            Pull content from
          </button>
          <mat-menu #menu="matMenu">
            <div *ngFor="let sourceBranch of branches">
              <button mat-menu-item *ngIf="branch.id !== sourceBranch.id" (click)="pull(branch,sourceBranch)">
                {{sourceBranch.name}}
              </button>
            </div>
          </mat-menu>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row class="custom-table-header" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="custom-table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>










